/* Las siguientes lineas sirven para tener el header arriba, el footer abajo y el content en el centro */
div#app{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header#header{
    z-index: 100;
}

main#main{
    flex: 1;
}

footer#footer{
    z-index: 100;
}