.contenido{
    margin-top: 70px;
}


.text-uppercase {
    letter-spacing: 0.1em;
}

.vertical-nav {
    min-width: 10rem;
    width: 12rem;
    min-height: 100vh;
    position: fixed;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 12rem);
    margin-left: 12rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -12rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -12rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #content.active {
        margin-left: 12rem;
        width: calc(100% - 12rem);
    }
}
