body {
    background-image: url("../../images/backgrounds/geometric-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    display: none;
}

.bolder-text{
    font-weight: 700;
}

.font-initial{
    font-family: initial;
}

h1.responsive-text{
    font-size: calc(1rem + 10vmin);
}
h3.responsive-text{
    font-size: calc(1rem + 4vmin);
}
