
@media (min-width: 992px) { 
    #index-container {
        position: sticky;
        top: 60px;
        height: max-content;
    }
}
#instructions-container section {
    padding-top: 100px;
}

/* Dropdown menu permite introducir texto en mas de una linea */
.dropdown-menu,.dropdown-item{
    white-space: normal;
}